<nav class="bottom-nav">
  <div class="container d-flex justify-content-around py-2">
    <a
      class="nav-item text-center"
      [routerLink]="'/candidates-list'"
      routerLinkActive="active"
    >
      <div class="nav-icon">
        <i class="bi bi-people"></i>
      </div>
      <div class="nav-text">מאגר מועמדים</div>
    </a>
    <a
      class="nav-item text-center"
      [routerLink]="'/job-roles'"
      routerLinkActive="active"
    >
      <div class="nav-icon">
        <i class="bi bi-collection"></i>
      </div>
      <div class="nav-text">מאגר תפקידים</div>
    </a>
  </div>
</nav>
