.background-container {
  overflow: hidden;
  z-index: -1;
  min-height: 150vh;
}

.background-image {
  width: 250px;
  height: auto;
  transform: translateY(-100px);
  transition: transform 0.3s ease;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .background-image {
    width: 120px;
    transform: translateY(-80px);
  }
}

@media (max-width: 576px) {
  .background-image {
    width: 100px;
    transform: translateY(-60px);
  }
}

@media (max-width: 400px) {
  .background-image {
    width: 200px;
    transform: translateY(-60px);
  }
}
